<%- include ("../partials/header") %>

<div class="container">
  <div class="row">
    
    <div style="width:30%;margin:30px auto" >
      <h1>EDIT YOUR PIC</h1>
      <form action = "/image/<%=file._id%>?_method=PUT" method = "POST" enctype="multipart/form-data">
        <div class="form-group">
          <p id = "upload-dialog" style="display: none; width: 100%;" class="form-control">Choose Image</p>
        </div> 
        <div class="form-group">
          <input type = "file" id = "image-file" name = "img" accept = "image/jpg, image/png" style = "display: none; width: 100%;" class="form-control" />
        </div> 
        <div class="form-group">
          <img src = "/image/<%= file.fileName %>" id = "preview-image" style = "display: inline-block; width: 100%;" class="form-control" />
        </div>   
        <div class="form-group">
          <p id = "remove-image" style = "display: inline-block; width: 100%;" class="form-control">Choose different pic</p>
        </div>  
        <div class="form-group">
          <input type = "text" name = "caption" placeholder = "Caption" style = "display: block; width: 100%;" class="form-control" value = "<%= file.caption %>">
        </div>  
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn default btn-block">EDIT</button>
        </div>  
      </form>
    </div>
  </div>
</div>

<%- include ("../partials/footer") %>